/* Install */

main {
    display: flex;
    flex-direction: column;
}

.dependancy-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dependancy {
    width: 33%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    flex-direction: column;
}

.dependancy img {
    width: 250px;
    height: 200px;
}

.status-label {
    color: white;
    font-size: 28px;
    margin: 0 auto;
}

@keyframes pulsing-icon {
    0% { background-color: #333d61; }
    50% {background-color: #314eaa; }
    100% {background-color: #333d61; }
}

.install {
    width: 250px;
    height: 200px;
    padding: 20px;
    border-radius: 100px;
    transition: all ease-in-out 0.5s;
}

.pulsing-install {
    animation: pulsing-icon 4s infinite;
}

.no-install {
    background-color: #aa3131;
}

.finish-install {
    background-color: #2d9559;
}