@font-face {
    font-family: "myriad-pro";
    src: url("Myriad Pro Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: myriad-pro;
}

body {
    background-color: #3b3b49;
    height: 100vh;
    width: 100%;
}

/*  Header Code */

header {
    background-color: #2b2c2f;
    box-shadow: 0px 10px 20px 0px rgba(49,78,170,0.25);
    -webkit-box-shadow: 0px 10px 20px 0px rgba(49,78,170,0.25);
    -moz-box-shadow: 0px 10px 20px 0px rgba(49,78,170,0.25);
    height: 6vh;
}

header div {
    width: 45%;
    height: inherit;
    display: inline-block;
}

.toolbar-wrapper {
    width: 32%;
    font-size: 12px;
}

.toolbar-wrapper ul {
    border-radius: 0 0 10px 10px;
    border: solid 3px #3b3b49;
    border-top: none;
    display: flex;
    justify-content: space-around;
    color: white;
}

.toolbar-wrapper li {
    display: inline-block;
    cursor: pointer;
    width: 24.75%;
    text-align: center;
    padding: 5px 0;
    transition: background-color ease-in-out 0.3s;
}

.toolbar-wrapper li:nth-child(1) {
    border-radius: 0 0 0 10px;
}

.toolbar-wrapper li:nth-child(4) {
    border-radius: 0 0 10px 0;
}

.toolbar-wrapper li:hover {
    background-color: #333d61;
}

.toolbar-wrapper li a {
    text-decoration: none;
    color: white;
}

.control-buttons-wrapper {
    float: right;
}

.control-button {
    width: 15%;
    height: 50%;
    background-color: #aa3131;
    float: right;
    margin-right: 10px;
    border-radius: 0 0 10px 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.control-button:nth-child(even) {
    background-color: #333d61;
    font-size: 28px;
}

/* Alert */

.alert {
    background-color: #314eaa;
    border-radius: 20px;
    width: 50%;
    margin: 20px auto 50px auto;
    padding: 10px;
    display: inline-flex;
    box-sizing: border-box;
}

.alert div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

.alert div:nth-child(odd) {
    width: 92%;
    border-right: 2px solid #333d61;
}

.alert-message p:nth-child(odd) {
    font-size: 20px;
    margin-right: 5px;
}

.alert-message p:nth-child(even) {
    font-size: 16px;
}

.alert-icon {
    font-size: 48px;
    width: 8%
}


.alert-error {
    background-color: #aa3131;
}

.alert-error div:nth-child(odd) {
    border-right-color: white;
}

/* Potential Global Styles */

.standard-button {
    outline: none;
    background-color: #333d61;
    border: white solid 5px;
    border-radius: 10px;
    padding: 6px 50px;
    color: white;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color ease-in-out 0.3s;
}

.standard-button:hover {
    background-color: #314eaa;
}

/* Install */

main {
    display: flex;
    flex-direction: column;
}

.dependancy-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dependancy {
    width: 33%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    flex-direction: column;
}

.dependancy img {
    width: 250px;
    height: 200px;
}

footer {
    width: 100%;
    height: 5vh;
    background-color: #333d61;
    border-top: 3px solid white;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    display: flex;
    font-size: 18px;
}

footer a {
    color: white;
    text-decoration: none;
    width: 49.75%;
    display: inline-flex;
    text-align: center;
    background-color: #333d61;
    transition: background-color ease-in-out 0.3s;
    align-items: center;
    justify-content: center;
    height: 100%;
}

footer a:hover {
    background-color: #314eaa;
}

.status-label {
    color: white;
    font-size: 28px;
    margin: 0 auto;
}

@keyframes pulsing-icon {
    0% { background-color: #333d61; }
    50% {background-color: #314eaa; }
    100% {background-color: #333d61; }
}

.install {
    width: 250px;
    height: 200px;
    padding: 20px;
    border-radius: 100px;
    transition: all ease-in-out 0.5s;
}

.pulsing-install {
    animation: pulsing-icon 4s infinite;
}

.no-install {
    background-color: #aa3131;
}

.finish-install {
    background-color: #2d9559;
}

/* Sign In/Up */

form {
    margin: 0 auto;
    margin-top: 30px;
    width: 340px;
}

form div {
    display: flex;
    justify-content: center;
    align-items: center;
}

form div img {
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
}

form .standard-button {
    width: 300px;
}

input {
    background-color: rgba(49, 78, 170, 0.2);
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    padding: 15px 30px;
    color: white;
    margin-bottom: 15px;
    width: 300px;
    box-sizing: border-box;
    display: block;
}

input[name="password"] {
    margin: 0;
    display: inline;
}

input::placeholder {
    color: white;
    font-size: 16px;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 15px;
}

label {
    color: white;
    font-size: 16px;
}

/* Main Page */

main {
    overflow: hidden;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.search-wrapper input {
    width: 500px;
    margin: 0;
}

.search-wrapper img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    cursor: pointer;
}

h2 {
    color: white;
    font-size: 42px;
    text-decoration: underline;
    text-decoration-color: #314eaa;
    margin-top: 30px;
}

.carousel-wrapper {
    height: 20vh;
    width: 200%;
    background: rgb(49,78,170);
    background: linear-gradient(90deg, rgba(49,78,170,0.3) 0%, rgba(51,61,97,0.3) 100%);
    border-top: 3px solid #363641;
    border-bottom: 3px solid #363641;
    display: flex;
    align-items: center;
    position: relative;
    left: 0;
    transition: left cubic-bezier(0, -0.12, 0, 1.14) 0.5s;
}

.challenge {
    width: 14%;
    height: 85%;
    display: inline-block;
    background-color: #2b2c2f;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(49, 78, 170, 0.35);
    -moz-box-shadow:    0px 5px 5px 0px rgba(49, 78, 170, 0.35);
    box-shadow:         0px 5px 5px 0px rgba(49, 78, 170, 0.35);
    border-radius: 20px;
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
}

.challenge:last-child {
    margin-right: 0;
}

.challenge:first-child {
    margin-left: 20px;
}

.challenge h3 {
    color: white;
    margin-bottom: 10px;
}

.challenge img {
    width: 100%;
    height: 50%;
}

.challenge-spec span {
    font-size: 16px;
    font-weight: bold;
}

.advanced {
    color: #963031;
}

.intermediate {
    color: #dddb2c;
}

.begginer {
    color: #2d9559;
}

.challenge-spec img {
    width: 30px;
    height: 30px;
    float: right;
}

.challenge-spec img:nth-child(2) {
    margin-left: 10px;
}

.scroller {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 48%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left cubic-bezier(0, -0.12, 0, 1.14) 0.5s;
}

.scroller img {
    width: 40px;
    height: 40px;
    transition: all ease-in-out 0.4s;
    cursor: pointer;
}

.scroller img:hover {
    transform: scale(1.2);
}

/* Account */

.account-modifcation-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.account-modifcation-wrapper ul {
    list-style: none;
    background-color: #333d61;
    padding: 10px;
}

.account-modifcation-wrapper li {
    padding: 10px 60px;
    cursor: pointer;
    color: white;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #333d61;
    transition: background-color ease-in-out 0.4s;
    text-align: center;
}

.account-modifcation-wrapper li:hover {
    background-color: #314eaa;
}

.account-details-modifier {
    width: 50%;
    margin-left: 40px;
    background-color: #333d61;
    padding: 20px;
}

.account-details-modifier div {
    display: block;
}

.account-details-modifier form {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
}

.account-details-modifier input[type="password"] {
    margin-bottom: 15px;
    display: block;
}

.account-details-modifier .standard-button {
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0 0 0 45px;
}

.selected {
    background-color: #314eaa !important;
}