main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    color: white;
}

h1 {
    font-size: 42px;
}

h3 {
    font-size: 25px;
}

.standard-button {
    text-decoration: none;
}

form {
    width: 500px;
}

input[type="text"] {
    width: 500px;
}

input[type="file"] {
    background-color: transparent;
    border: none;
    width: 500px;
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

input[type="file"]::before {
    content: 'Select banner image.';
    background-color: #333d61;
    color: white;
    padding: 5px 8px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color ease-in-out 0.3s;
}

input[type="file"]:hover::before {
    background-color: #314eaa;
}