* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
}

#action-bar {
    width: 100%;
    height: 5vh;
    background: #2F323A;
    color: white;
}

#action-bar h1 {
    display: inline-block;
}

#action-bar div {
    float: right;
}

#action-bar button {
    width: 30px;
    height: 30px;
    padding: 10px;
    background: #2F323A;
    border: none;
    font-size: 18px;
    color: white;
    height: 100%;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
}

#action-bar button:hover {
    background: #1d1b1b;
}

main {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #177E89;
    color: white;
}

main h1 {
    margin-bottom: 3%;
    text-align: center;
}

main h3 {
    margin-bottom: 10%;
    text-align: center;
}

.dependency-wrapper {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.status-border {
    padding: 20px;
    border-radius: 50%;
    border: 2px white solid;
    width: 350px;
    height: 350px;
}

.dependency {
    width: 50vw;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dependency img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
}

.dependency img:first-child {
    position: relative;
    left: 12px;
    top: 15px;
}
