@import './_global';

@keyframes pulsing-icon {
    0% { border-color: #333d61; }
    50% {border-color: #314eaa; }
    100% {border-color: #333d61; }
}

main { 
    @include flex(center, center, column); 
    position: relative;

    .installed {
        @include flex(center, center, column);
        @include item-with-shadow();
        max-width: 20%;
        border-radius: 10px;
        padding: 20px;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 80%;
        margin-top: 30px;

        h3 {
            color: $colour_text;
            margin-bottom: 8px;
        }

        a {
            background-color: $colour_secondary;
            color: white;
            padding: 10px 12px;
            border-radius: 10px;
            text-decoration: none;

            &:hover {
                filter: saturate(1.5);
            }
        }
    }

    .dependancy-wrapper {
        @include width-and-height(90%, 60vh);
        @include flex(center, center, row);

        img {
            @include width-and-height(250px, 250px);
            padding-bottom: 20px;
            border-bottom: 6px solid $colour_standby;
            border-radius: 20px;
        }

        .running { animation: pulsing-icon 4s infinite; }
        .complete { border-color: $colour_complete; }

        span { 
            color: white; 
            background-color: $colour_primary;
            font-size: 60px;
            text-align: center; 
            font-weight: bold; 
            margin: 0 30px; 
            opacity: 0.7;
            display: block;
            border-radius: 40px;
            @include width-and-height(80px, 80px);
        }
    }

    button {
        padding: 10px 80px;
        border-radius: 10px;
    }

    .ball {
        width: 10px;
        height: 10px;
        background-color: $colour_secondary;
        margin-top: 5px;
        border-radius: 5px;
        position: relative;
        transition: all cubic-bezier(0.28,-0.29, 0, 0.68) 0.5s;
    }

}