<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
    <script src="{{ url_for('static', filename='js/account.js') }}"></script>
</head>
<body>

    {% include 'header.html' %}

    <main>

        {% if owns_page %}

        <div class="account-modifcation-wrapper">

            <ul>
                <li class="selected" id="username-edit-btn">Username</li>
                <li id="email-edit-btn">Email</li>
                <li id="password-edit-btn">Password</li>
            </ul>

            <div class="account-details-modifier">
                <form>
                    <div>
                        <input id="new-detail" type="text" name="username" placeholder="New Username..."/>
                        <input id="conf-new-detail" type="text" name="conf_username" placeholder="Confirm New Username..."/>
                    </div>
                    <button class="standard-button" type="button">Submit</button>
                </form>
            </div>

        </div>

        <h2>My List</h2>
        <div class="carousel-wrapper" data-scrolled="0"></div>

        {% endif %}

        {% if owns_page %}
        <h2>My Uploads</h2>
        {% else %}
        <h2>{{ page_owner }}'s Uploads</h2>
        {% endif %}

        <div class="carousel-wrapper" data-scrolled="0"></div>

    </main>
    
</body>
</html>