<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='sass/account.css') }}" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
    <script src="{{ url_for('static', filename='js/node_scripts/get_user_downloaded_challenges.js') }}"></script>
    <script src="{{ url_for('static', filename='js/account.js') }}"></script>
</head>
<body>

    {% include 'header.html' %}

    <main>

        {% if page_owner == None %}
        <div class="alert alert-error">
            <div class="alert-message">
                <p>Account {{ page_owner.username }} does not Exist.</p>
                <p>Go back to home page.</p>
            </div>
            <div class="alert-icon"><p>!</p></div>
        </div>

        {% else %}

            <div class="carousel-wrapper">

                {% if owns_page %}
                    <h2>My Uploads</h2>
                {% else %}
                    <h2>{{ page_owner.username.title() }}'s Uploads</h2>
                {% endif %}

                {% if users_challenges|length != 0 %}
                    {% for item in users_challenges %}
                        {% include 'challenge_item.html' %}
                    {% endfor %}
                {% else %}
                    <div class="no-uploads">
                        {% if owns_page %}
                            <h2>You have no Uploads</h2>
                        {% else %}
                            <h2>User has no uploads yet.</h2>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            {% if owns_page %}

            <div class="carousel-wrapper" id="my-list">
                <h2>My List</h2>
            </div>

            {% endif %}

        {% endif %}

    </main>

    {% if page_owner == None %}
    <div class="footer-center">
        <footer>
            <a class="standard-button" href="/main">Home</a>
            <img src="{{ url_for('static', filename='images/exit.svg') }}"/>
        </footer>
    </div>
    {% endif %}
    
</body>
</html>