<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='sass/challenge.css') }}" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
    <script src="{{ url_for('static', filename='js/challenge.js') }}"></script>
</head>
<body>

    {% include 'header.html' %}

    {% if challenge == None %}
    <div class="alert alert-error">
        <div class="alert-message">
            <p>Challenge does not Exist.</p>
            <p>Go back to home page.</p>
        </div>
        <div class="alert-icon"><p>!</p></div>
    </div>

    <footer>
        <a href="/main">Home</a>
    </footer>
    {% else %}

    <main>

        <div class="challenge-wrapper">
            <div>
                <h1>{{ challenge.name }} <span class="{{ challenge.difficulty.lower() }}">{{ challenge.difficulty}}</span> </h1>
                <img src="{{ banner_path }}" alt="Challenge Banner"/>
            </div>

            <div>
                <h3>Challenge Description</h3>
                <span>{{ challenge.description }}</span>

                <span>Author -:- <a href="/account/{{ author }}">{{ author.title() }}</a></span>

            </div>
        </div>

        {% if error %}
        <div class="alert alert-error">
            <div class="alert-message">
                <p>Upload Error</p>
                <p>{{ error }}</p>
            </div>
            <div class="alert-icon"><p>!</p></div>
        </div>
         {% endif %}

    </main>

    <footer>
        <a href="{{ download_path }}">Download Now >></a>
    </footer>

    {% endif %}
    
</body>
</html>