<div class="modal">
    <img id="close-modal-btn" src="{{ url_for('static', filename='images/close.svg') }}" alt="Close Modal Button"/>

    <div class="modal-content">
        <h2>Before you Start</h2>
        <span>1. Make sure that you have Docker and VirtualBox installed on your device.</span>
        <span>2. Make sure Docker is currently running on your system.</span>

        <div>
            <span>Not installed?</span>
            <a href="/">Go to Install</a>
        </div>

        <div>
            <span>Otherwise</span>
            <a id="btn-run">Run Lesson</a>
        </div>
    </div>
</div>