<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static', filename='sass/install.css') }}" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
    <script src="{{ url_for('static', filename='js/node_scripts/installs.js') }}"></script>
</head>
<body>
    
    {% include 'header.html' %}

    <main>

        <div class="installed">
            <h3>Already Installed?</h3>
            <a href="/login">Go to Sign Up</a>
            <a id="already-installed" href="/install/manual">Or Manually Install</a>
        </div>

        <div class="alert">
            <div class="alert-message">
                <p>Some features of this program require VirtualBox and Docker to run correctlty.</p>
                <p>These can be installed using the buttons below, or by the user themselves.</p>
            </div>
            <div class="alert-icon">!</div>
        </div>

        <div class="dependancy-wrapper">
            <img class="complete" src="{{ url_for('static', filename='images/VirtualBox.png') }}" alt="VirtualBox Logo"/>
            <span>+</span>
            <img class="running" src="{{ url_for('static', filename='images/docker_original.png') }}" alt="Docker Logo"/>
        </div>

        <button id="btn-both" class="standard-button">Install 'Program Name'</button>

        <div class="ball"></div>

    </main>

    </body>

</body>
</html>