<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='sass/main.css') }}" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
    <script src="{{ url_for('static', filename='js/node_scripts/get_user_downloaded_challenges.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>

    {% include 'header.html' %}

    <main>
        <div class="carousel-wrapper">
            <h2>Recently Added</h2>

            {% for item in new_challenges %}
                {% include 'challenge_item.html' %}
            {% endfor %}
        </div>

        <div class="carousel-wrapper" id="my-list">
            <h2>My List</h2>
        </div>

    </main>
    
</body>
</html>