<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='sass/upload_lesson.css') }}" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='js/global.js')}}"></script>
    <script>let challenge_name = "{{ challenge.name }}";</script>
    <script src="{{ url_for('static', filename='js/upload_lesson.js') }}"></script>
</head>
<body>
    
    {% include 'header.html' %}

    <main>
        <h2>Upload Lesson ({{challenge.name}})</h2>

        <div class="builder">
            <div id="add-task-btn">+</div>
        </div>
    </main>

    <footer>
        <a id="upload-btn">Upload Lesson...</a>
    </footer>

</body>
</html>